
body{
  background-color: purple;
}

.topnav {
    overflow: hidden;
    width: 100%;
}


.topnav a {
  background-color: lightgrey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
 
}

li a{
    color: white;
}
p{
    color: white;
    float: left;
}
